<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/css-head :: css-head">
</head>
<style>
    textarea{
        width:100%;
        height:100px;
    }

    .file {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }
    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }

    .chk_1{
        display: none;
    }
    .chk_1 + label {
        background-color: #FFF;
        border: 1px solid #C1CACA;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 9px;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        margin-right: 30px;
    }
    .chk_1 + label:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    .chk_1:checked + label {
        background-color: #ECF2F7;
        border: 1px solid #92A1AC;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        color: #243441;
    }

    .chk_1:checked + label:after {
        content: '\2714';
        position: absolute;
        top: 0px;
        left: 0px;
        color: #758794;
        width: 100%;
        text-align: center;
        font-size: 1.4em;
        padding: 1px 0 0 0;
        vertical-align: text-top;
    }
    div.cbp label.font{
        text-align: center;
        font-size: 1.4em;
        vertical-align: text-top;
        margin-top: -15px;
        margin-left: -10px;
    }
    #ProjList{
        display:
        overflow-scrolling: auto;
        position: absolute;
    }
</style>
<body onload="init()">
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <!--西游记告诉我们：凡是有后台的妖怪都被接走了，-->
        <!--<small>凡是没后台的都被一棒子打死了</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
        <li class="active">提成管理</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">提成明细列表</h3>
            <br><br>
            <p  style="display: none;"id= "perid" th:text="${percentageId}"></p>
            <button th:if="${QX.add == '1' && QX.query == '1' && session.ROLE==200}" class="btn btn-success btn-sm" id="addPercentage"><i class="fa fa-plus"></i> &nbsp;&nbsp;添加提成明细</button>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="percentItemList" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>分配金额</th>
                    <th>起始日期</th>
                    <th>结束日期</th>
                    <th>描述</th>
                    <th>操&nbsp;&nbsp;作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${QX.query == '1'}" th:each="xmpercentageItem,stat:${xmItemlist}">
                    <td th:text="${stat.count}">1</td>
                    <td th:text="${session.SESSION_USER.username}">姓名</td>
                    <td th:text="${xmpercentageItem.distributionMoney}">分配金额</td>
                    <td th:text="${xmpercentageItem?.startTime}==null?'':${#dates.format(xmpercentageItem.startTime,'yyyy-MM-dd')}">起始日期</td>
                    <td th:text="${xmpercentageItem?.endTime}==null?'':${#dates.format(xmpercentageItem.endTime,'yyyy-MM-dd')}">结束日期</td>
                    <td th:text="${xmpercentageItem.instructions}">描述</td>
                    <td>
                        <span data-toggle="tooltip" th:if="${QX.edit == '1' && session.ROLE==200}" title="修改提成明细" class="btn btn-xs btn-info"
                              th:onclick="'editPercentangItem(\''+${xmpercentageItem.id}+'\'
                              ,\''+${xmpercentageItem.distributionMoney}+'\'
                              ,\''+${xmpercentageItem.userId}+'\'
                              ,\''+${xmpercentageItem.startTime}+'\'
                              ,\''+${xmpercentageItem.endTime}+'\'
                              ,\''+${xmpercentageItem.percentageId}+'\'
                              ,\''+${xmpercentageItem.instructions}+'\');'"><i class="fa fa-edit"></i>编辑 </span>
                        <span data-toggle="tooltip" title="删除提成明细" th:if="${QX.del == '1' && session.ROLE==200}"  class="btn btn-xs btn-danger" th:onclick="'delPercentage(\''+${xmpercentageItem.id}+'\');'"><i class="fa fa-rmb"></i> 删除</span>
                        <span data-toggle="tooltip" title="附件" th:if="${QX.edit == '1'}"
                              class="btn btn-xs btn-info"
                              th:onclick="'findfile(\''+${xmpercentageItem.id}+'\');'"><i
                                class="fa btn-xs"></i>附件 </span>
                    </td>
                </tr>
                <tr th:unless="${QX.query == '1'}" >
                    <td colspan="7" align="center">
                        <h2>此用户无权限查看该页面</h2>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>
<div class="modal fade bs-example-modal-lg"  id="percentItemModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <h4 class="modal-title text-center" id="usermodelHead">添加提成明细</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <input type="hidden" name="url" value=""/>
                    <input type="hidden" class="form-control" name="project_id" th:value="${projId}"
                           id="project_id" placeholder="请输入项目编号">
                    <input type="hidden" class="form-control" name="percentageId" value="${percentageId}"
                           id="percentageId" placeholder="请输入项目编号">
                    <table id="project" class="table table table-hover table-striped">
                        <input type="hidden" name="id" value=""/>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="distributionMoney" class="col-sm-2 control-label">分配金额</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="distributionMoney" value=""
                                               id="distributionMoney" placeholder="分配金额">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p><input type="hidden"  class="form-control" name="userId" value=""
                                          id="userId" placeholder="选择用户"></p>
                                <div class="form-group">
                                    <label for="chooseUser" class="col-sm-2 control-label">选择用户</label>
                                    <div class="col-sm-10">
                                    <input type="button"  class="form-control" name="chooseUser" value=""
                                              id="chooseUser" placeholder="选择用户">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="content" class="col-sm-2 control-label">内容</label>
                                    <div class="col-sm-10">
                                        <input type="text"  class="form-control" name="content" value=""
                                               id="content" placeholder="申请具体内容">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <label for="approval" class="col-sm-2 control-label">审核意见</label>
                                <div class="col-sm-10">
                                    <textarea  class="form-control" name="approval" value=""
                                               id="approval" placeholder="绩效考核小组审批意见"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="startTime" class="col-sm-2 control-label">起始日期</label>
                                    <div class="col-sm-10">
                                        <input type="text" onfocus="selectTime(this);" class="form-control" name="startTime" value=""
                                               id="startTime" placeholder="起始日期">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="endTime" class="col-sm-2 control-label">结束日期</label>
                                    <div class="col-sm-10">
                                        <input type="text" onfocus="selectTime(this);" class="form-control" name="endTime" value=""
                                               id="endTime" placeholder="结束日期">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="instructions" class="col-sm-2 control-label">描述</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="instructions" value=""
                                               id="instructions" placeholder="描述">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" id="showfile">
                                    <label for="perfile" class="col-sm-2 control-label">选择附件（没有不用上传）</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control file" name="perfile" value="" id="perfile" placeholder="请选择文件">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-success" id="ItemSubmit">确定</button>
            </div>
        </div>
    </div>
</div>
<!--选择用户-->
<div class="modal fade" id="edituserRoleModal" style="z-index: 1050" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="userRoleModelHead">选择用户</h4>
            </div>
            <div class="modal-body">
                <!--<input type="search" class="form-search" placeholder="搜索用户">-->
                <div class="cbpuser">
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>-->
                <!--<button type="submit" class="btn btn-success"  id="roleSubmit" >确定</button>-->
            </div>
        </div>
    </div>
</div>
<!--文件下载-->
<div class="modal fade" id="downloadmodel" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="downModelHead">下载文件</h4>
            </div>
            <div class="modal-body">
                <div class="cbp">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="downloadSubmit">关闭</button>
                <!-- <button type="submit" class="btn btn-success"  id="downloadSubmit" >确定</button>-->
            </div>
        </div>
    </div>
</div>
<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script th:src="@{/ztree/js/jquery.ztree.excheck.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/js/path.js}"></script>
<!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
<link rel="stylesheet" th:href="@{/css/daterangepicker.css}">
<script th:src="@{/js/moment.js}"></script>
<script th:src="@{/js/daterangepicker.js}"></script>
<script th:inline="javascript">
    window.onload =function(){
        $.ajax({
            type:"GET",
            url:_ctx+"/xmpercentageItem/userlist",
            dataType:"json",
            data:{time:new Date().getTime()},
            cache:false,
            success:function(data){
                if(data.status == 'success'){
                    $("#optionitems").empty();
                    var rolerstr = "";
                    var arr = data.data;
                    debugger
                    rolerstr = "<select id='username' class='form-control' name='username'>";
                    rolerstr = "<table id='userlist' class='table table-bordered table-striped'>"+"<thead><tr><th>序号</th><th>姓名</th><th>选择</th></tr></thead>";
                    for(var i =0;i<arr.length;i++){'"+arr[i].nick_name+"'
                        rolerstr = rolerstr+"<tr><td>"+i+"</td>"+"<td text='"+arr[i].nick_name+"'>"+arr[i].nick_name+"</td>"+"<td><span data-toggle='tooltip' title='确定'  class='btn btn-success btn-sm' onclick='sure(\""+arr[i].nick_name+"\","+arr[i].user_id+")'>"+"<i>选择</i></span></td></tr>"
                    }
                    rolerstr = rolerstr+"</table>"
                    $(".cbpuser").append(rolerstr);
                }else{
                    alert(data.msg);
                }
            }
        });
    }
    $(function() {
        //提示框
        $("[data-toggle='tooltip']").tooltip();
        //表格分页
        $('#percentItemList').DataTable({
            "scrollX": true,
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "pagingType": "full_numbers",
            "pageLength": 10,
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "对不起，查询不到任何相关数据",
                "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_条记录",
                "sInfoEmtpy": "找不到相关数据",
                "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
                "sProcessing": "正在加载中...",
                "sSearch": "搜索",
                "oPaginate": {
                    "sFirst": "第一页",
                    "sPrevious": " 上一页 ",
                    "sNext": " 下一页 ",
                    "sLast": " 最后一页 "
                },
            }
        });

    });

    $("#ItemSubmit").click(function () {
        debugger
        var url = $("input[name='url']").val();
        var id = $("input[name='id']").val();
        var distributionMoney = $("input[name='distributionMoney']").val();
        var userId = $("input[name='userId']").val();
        var startTime = $("input[name='startTime']").val();
        var endTime = $("input[name='endTime']").val();
        var percentageId = $("input[name='percentageId']").val();
        var instructions = $("input[name='instructions']").val();
        var file =  $("#perfile")[0].files[0];
        var formData = new FormData();
        formData.append('id',id);
        formData.append('distributionMoney',distributionMoney);
        formData.append('userId',userId);
        formData.append('startTime',startTime);
        formData.append('endTime',endTime);
        formData.append('percentageId',percentageId);
        formData.append('instructions',instructions);
        formData.append('file',file);
        $.ajax({
            type: "post",
            url: url,
            cache: false,
            dataType: "json",
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.status == 'success') {
                    $("#percentItemModal").modal("hide");
                    window.location.href = window.location.href;
                } else {
                    alert("数据填写错误！");
                }
            }
        });
    });
    $("#addPercentage").click(function () {
        var perid = $("#perid").text();
        reloadModelData(_ctx + "/xmpercentageItem/add","添加提成细目", null,0, null, null, null, perid, null);
        $("#showfile").modal("hide");
        $("#percentItemModal").modal("show");
    });
    function sure(name,id) {
        $("#chooseUser").text(name);
        $("#chooseUser").val(name);
        $("input[name='userId']").val(id);
        $("#edituserRoleModal").modal("hide");
    }
    //加载模态框的数据
    function reloadModelData(url, title,id,distributionMoney, userId, startTime, endTime, percentageId, instructions) {
        $("input[name='url']").val(url);
        $("input[name='id']").val(id);
        $("#usermodelHead").text(title);
        $("input[name='distributionMoney']").val(distributionMoney);
        $("input[name='userId']").val(userId);
        if(startTime == ""){
            alert("未分配时间！");
            $("input[name='startTime']").val("");
        }else{
            $("input[name='startTime']").val(new Date(startTime).format("yyyy-MM-dd"));
        }
        if(endTime == ''){
            alert("未分配时间！");
            $("input[name='endTime']").val("");
        }else{
            $("input[name='endTime']").val(new Date(endTime).format("yyyy-MM-dd"));
        };
        $("input[name='percentageId']").val(percentageId);
        $("input[name='instructions']").val(instructions);
    }
    //编辑
    function editPercentangItem(id,distributionMoney, userId, startTime, endTime, percentageId, instructions) {
        reloadModelData(_ctx + "/xmpercentageItem/edit","编辑提成细目", id, distributionMoney, userId, startTime, endTime, percentageId, instructions);
        $("#showfile").modal("hide");
        $("#percentItemModal").modal("show");
    }
    function delPercentage(id) {
        if (confirm("你确定要删除此提成信息吗？")) {
            $.ajax({
                type: "GET",
                url: _ctx + "/xmpercentageItem/del/"+ id,
                dataType: "json",
                cache: false,
                success: function (data) {
                    if (data.status == 'success') {
                        window.location.href = window.location.href;
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
    }style="z-index: 1060"
    $("#chooseUser").click(function () {
        $("#edituserRoleModal").modal("show");
    })
    //所有的用户列表
    // $("#username").change(function (){
    //     var userId = $("#username").val();
    //     $("input[name='userId']").val(userId);
    // });
    function findfile(id){
        $(".modal-body .cbp table").remove();
        $.ajax({
            type:"GET",
            url:_ctx+"/xmpercentageItem/getAllfile/"+id,
            dataType:"json",
            data:{time:new Date().getTime()},
            cache:false,
            success:function(data){
                if(data.status == 'success'){
                    var str = "<table id='' class='table table-bordered table-striped'>" +
                        "                    <thead>\n" +
                        "                    <tr>\n" +
                        "                        <th>序号</th>\n" +
                        "                        <th>文件名</th>\n" +
                        "                    </tr>\n" +
                        "                    </thead>\n" +
                        "                    <tbody><tr>";
                    var arr = data.data;
                    for(var i =0;i<arr.length;i++){
                        str=str+"<td>"+(i+1)+"</td><td><a href='/upload/downloadFile?id="+arr[i].id+"'>"+arr[i].attachmentName+"</a></td></tr>"
                    }
                    str=str+"</tbody>"
                    $(".modal-body .cbp").append(str);
                    //这是为了让title 属性生效
                    $.getScript("/js/tip.js");
                    $("#downloadmodel").modal("show");
                }else{
                    alert(data.msg);
                }
            }
        });
    }
</script>


</body>
</html>