<!DOCTYPE html>
<html>
<head th:include="include/css-head :: css-head">
</head>
<style>
    textarea {
        width: 100%;
        height: 100px;
    }

    .file {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }

    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }

    .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }

    .chk_1 {
        display: none;
    }

    .chk_1 + label {
        background-color: #FFF;
        border: 1px solid #C1CACA;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 9px;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        margin-right: 30px;
    }

    .chk_1 + label:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .chk_1:checked + label {
        background-color: #ECF2F7;
        border: 1px solid #92A1AC;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        color: #243441;
    }

    .chk_1:checked + label:after {
        comtime: '\2714';
        position: absolute;
        top: 0px;
        left: 0px;
        color: #758794;
        width: 100%;
        text-align: center;
        font-size: 1.4em;
        padding: 1px 0 0 0;
        vertical-align: text-top;
    }

    div.cbp label.font {
        text-align: center;
        font-size: 1.4em;
        vertical-align: text-top;
        margin-top: -15px;
        margin-left: -10px;
    }

    th, td {
        white-space: nowrap;

    }

    .dataTables_scrollBody {
        overflow: scroll;
    }
    .table-body{
        padding-right: 108px;
        position: relative;
    }
    .manipulation_table{
        position: absolute;
        float: right;
        right: 0px;
        top: 0px;
        padding-top:10px
    }
    .manipulation_table > table > tbody > tr > td{
        padding-bottom: 5.5px;
    }
    .box-body{
        overflow-x: scroll;
    }
    .btn-xs{
        width: 22px;
    }
</style>
<body>


<!-- Content Header (Page header) -->
<section class="comtime-header">
    <!-- <h1>
           西游记告诉我们：凡是有后台的妖怪都被接走了，
       <small>凡是没后台的都被一棒子打死了</small>
     </h1>
     <ol class="breadcrumb">
       <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
       <li class="active">用户管理</li>
     </ol>-->
</section>

<!-- Main comtime -->
<section class="comtime">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">项目沟通要求列表</h3>
            <br><br>
            <button th:if="${session.ROLE==200}" class="btn btn-success btn-sm" id="addProcurementitem"><i
                    class="fa fa-plus"></i> &nbsp;&nbsp;添加
            </button>
        </div>
        <!-- /.box-header -->
      <!--  <div class="table-body">
            <div class="box-body">-->
                <table id="roleList" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>沟通类型</th>
                        <th>时间</th>
                        <th>负责人</th>
                        <th>材料形式</th>
                        <th>途径</th>
                        <th>接收人员范围</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${QX.query == '1'}" th:each="communication,stat :${communications}">
                        <td th:text="${stat.count}">1</td>
                        <td th:text="${communication.comtype}"></td>
                        <td th:text="${communication?.comtime}==null?'':${#dates.format(communication.comtime,'yyyy-MM-dd')}"></td>
                        <td th:text="${communication.comuser}"></td>
                        <td th:text="${communication.materialform}"></td>
                        <td th:text="${communication.comway}"></td>
                        <td th:text="${communication.receivingstaf}"></td>
                        <td >
                            <span data-toggle="tooltip" title="编辑沟通计划" th:if="${session.ROLE==200}"
                                  class="btn btn-primary btn-sm"
                                  th:onclick="'editProcurementitem(\''+${communication.id}+'\'
                                  ,\''+${communication.projectId}+'\'
                                  ,\''+${communication.userId}+'\'
                                  ,\''+${communication.comtype}+'\'
                                  ,\''+${communication.comtime}+'\'
                                  ,\''+${communication.comuser}+'\'
                                  ,\''+${communication.materialform}+'\'
                                  ,\''+${communication.comway}+'\'
                                  ,\''+${communication.receivingstaf}+'\'
                                 );'">
                                <i class="fa fa-edit"></i>编辑
                            </span>
                            <span data-toggle="tooltip" title="删除" th:if="${session.ROLE==200}"
                                  class="btn btn-danger btn-sm"
                                  th:onclick="'delProcurementitem(\''+${communication.id}+'\');'"><i
                                    class="fa fa-trash-o"></i>删除 </span>
                            <span data-toggle="tooltip" title="附件"
                                  class="btn btn-info btn-sm"
                                  th:onclick="'findfile(\''+${communication.id}+'\');'"><i
                                    class="fa fa-trash-o"></i>附件</span>
                            <span data-toggle="tooltip" title="权限不够"
                                  th:unless="${QX.edit == '1' || QX.add == '1' || QX.del == '1'}"><i
                                    class="fa fa-lock"></i> </span>
                        </td>
                    </tr>
                    <tr th:unless="${QX.query == '1'}">
                        <td colspan="7" align="center">
                            <h2>此用户无权限查看该页面</h2>
                        </td>
                    </tr>
                    </tbody>
                </table>
           <!-- </div>-->
    </div>
</section>

<!-- 新增或修改的模态框 -->
<div class="modal fade bs-example-modal-lg" id="userModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <h4 class="modal-title text-center" id="usermodelHead">添加采购明细</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <table id="communication" class="table table table-hover table-striped">
                        <input type="hidden" name="id" value=""/>
                        <input type="hidden" name="userId" value=""/>
                        <input type="hidden" name="projectId" value=""/>
                        <input type="hidden" name="url" value=""/>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="comtype" class="col-sm-2 control-label">沟通类型</label>
                                    <div class="col-sm-10">
                                        <input type="text"  class="form-control" name="comtype" value=""
                                               id="comtype" placeholder="沟通类型">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="comtime" class="col-sm-2 control-label">时间</label>
                                    <div class="col-sm-10">
                                        <input type="text"  onfocus="selectTime(this);" class="form-control" name="comtime" value=""
                                               id="comtime" placeholder="时间" >
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="comuser"  class="col-sm-2 control-label">负责人</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="comuser" value=""
                                               id="comuser" placeholder="负责人">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="materialform" class="col-sm-2 control-label">材料形式</label>
                                    <div class="col-sm-10">
                                        <input type="text"   class="form-control" name="materialform" value=""
                                               id="materialform" placeholder="材料形式">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="comway"  class="col-sm-2 control-label">途径</label>
                                    <div class="col-sm-10">
                                        <input type="text"   class="form-control" name="comway" value=""
                                               id="comway" placeholder="途径">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="receivingstaf"  class="col-sm-2 control-label">接收人员范围</label>
                                    <div class="col-sm-10">
                                        <input type="text"  class="form-control" name="receivingstaf" value=""
                                               id="receivingstaf" placeholder="接收人员范围">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group" data-toggle="tooltip" title="">
                                    <label for="cert" class="col-sm-2 control-label">上传文件</label>
                                    <div class="col-sm-10">
                                        <a href="javascript:void(0)"><input type="file" class="form-control file" name="cert" value="" id="cert" placeholder="请选择文件"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-success" id="imgSubmit">确定</button>
            </div>
        </div>
    </div>
</div>


<!-- 文件下载 -->
<div class="modal fade" id="downloadmodel" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="userRoleModelHead">下载文件</h4>
            </div>
            <div class="modal-body">
                <div class="cbp">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="downloadSubmit">关闭</button>
               <!-- <button type="submit" class="btn btn-success"  id="downloadSubmit" >确定</button>-->
            </div>
        </div>
    </div>
</div>


<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script th:src="@{/ztree/js/jquery.ztree.excheck.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/js/path.js}"></script>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/daterangepicker.css}">

<!--<script th:src="@{/js/jquery-2.2.3.min.js}"></script>-->
<script th:src="@{/js/moment.js}"></script>
<script th:src="@{/js/daterangepicker.js}"></script>

<script th:inline="javascript">
    //附件弹框
    function findfile(id){
        $(".modal-body .cbp table").remove();
        $.ajax({
            type:"GET",
            url:_ctx+"/communication/getAllfile/"+id,
            dataType:"json",
            data:{time:new Date().getTime()},
            cache:false,
            success:function(data){
               if(data.status == 'success'){
                    var str = "<table id='' class='table table-bordered table-striped'>" +
                        "                    <thead>\n" +
                        "                    <tr>\n" +
                        "                        <th>序号</th>\n" +
                        "                        <th>文件名</th>\n" +
                        "                    </tr>\n" +
                        "                    </thead>\n" +
                        "                    <tbody><tr>";
                    var arr = data.data;
                    for(var i =0;i<arr.length;i++){
                        str=str+"<td>"+(i+1)+"</td><td><a href='/upload/downloadFile?id="+arr[i].id+"'>"+arr[i].attachmentName+"</a></td></tr>"
                    }
                   str=str+"</tbody>"
                    $(".modal-body .cbp").append(str);
                    //这是为了让title 属性生效
                    $.getScript("/js/tip.js");
                    $("#downloadmodel").modal("show");
                }else{
                    alert(data.msg);
                }
            }
        });
    }
   /* $("#downloadSubmit").click(function(){
        window.location.href= window.location.href;
    });*/

    /*//确认按钮
    $("#downloadSubmit").click(function(){
        var ids="";
        $("input[name='projids']:checked").each(function(){
            ids = ids + $(this).val() +",";
        });
        $.ajax({
            type:"POST",
            url:_ctx+"/usertemplet/add",
            cache:false,
            dataType:"json",
            data:{ids:ids,time:new Date().getTime()},
            success:function(data){
                if(data.status == 'success'){
                    window.location.href= window.location.href;
                }else{
                    alert(data.msg);
                }
            }
        });
    });*/

    $(function () {
            //提示框
            $("[data-toggle='tooltip']").tooltip();
            //表格分页
            $('#roleList').DataTable({
                "scrollX": true,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                "pagingType": "full_numbers",
                "pageLength": 10,
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "对不起，查询不到任何相关数据",
                    "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_条记录",
                    "sInfoEmtpy": "找不到相关数据",
                    "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
                    "sProcessing": "正在加载中...",
                    "sSearch": "搜索",
                    "oPaginate": {
                        "sFirst": "第一页",
                        "sPrevious": " 上一页 ",
                        "sNext": " 下一页 ",
                        "sLast": " 最后一页 "
                    },
                }
            });
        }
    );

    $("#addProcurementitem").click(function () {
        reloadModelData(_ctx + "/communication/add", "添加项目沟通计划", "添加","", "", "", "", "","", "", "", "","add");
        $("#userModal").modal("show");
    });

    //确认按钮
    $("#imgSubmit").click(function () {
        var url = $("input[name='url']").val();
        var id = $("input[name='id']").val();
        /*var projectId = sessionStorage.getItem("procurementprojectid");*/
        var projectId = $("input[name='projectId']").val();
        var userId = $("input[name='userId']").val();
        var comtype = $("input[name='comtype']").val();
        var comuser = $("input[name='comuser']").val();
        var comtime = $("input[name='comtime']").val();
        var materialform = $("input[name='materialform']").val();
        var comway = $("input[name='comway']").val();
        var receivingstaf = $("input[name='receivingstaf']").val();
        var file =  $("#cert")[0].files[0];
        var formData = new FormData();
        formData.append('id',id);
        formData.append('projectId',projectId);
        formData.append('userId',userId);
        formData.append('comtype',comtype);
        formData.append('comuser',comuser);
        formData.append('comtime',comtime);
        formData.append('materialform',materialform);
        formData.append('comway',comway);
        formData.append('receivingstaf',receivingstaf);
        formData.append('file',file);
        $.ajax({
            type: "POST",           //因为是传输文件，所以必须是post
            url: url,         //对应的后台处理类的地址
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            dataType: "json",
            success: function (data) {
                if (data.status == 'success') {
                    $("#userModal").modal("hide");
                    window.location.href = window.location.href;
                } else {
                    alert(data.msg);
                }
            }
        });
        /* if (url == _ctx + '/user/add') {
             if (!checkAccount(username, nickName, password)) {
                 return false;
             }
         }*/

        /*$.ajax({
            type: "post",
            url: url,
            cache: false,
            dataType: "json",
            data: {
                id: id,
                projectId: projectId,
                userId: userId,
                comtype: comtype,
                comtime: comtime,
                comuser: comuser,
                materialform: materialform,
                comway: comway,
                receivingstaf: receivingstaf,
                file:file,
                time: new Date().getTime()
            },
            success: function (data) {
                if (data.status == 'success') {
                    $("#userModal").modal("hide");
                    window.location.href = window.location.href;
                } else {
                    alert(data.msg);
                }
            }
        });*/
    });

    //删除项目
    function delProcurementitem(id) {
        if (confirm("你确定要删除此项目吗？")) {
            $.ajax({
                type: "GET",
                url: _ctx + "/communication/del/" + id,
                dataType: "json",
                data: {time: new Date().getTime()},
                cache: false,
                success: function (data) {
                    if (data.status == 'success') {
                        window.location.href = window.location.href;
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
    }

    //编辑项目,
    function editProcurementitem(id, projectId, userId, comtype, comtime,comuser, materialform, comway, receivingstaf) {
        reloadModelData(_ctx + "/communication/edit", "编辑项目实际进度", "更新", id, projectId, userId, comtype, comtime,comuser, materialform, comway, receivingstaf, "edit");
        $("#userModal").modal("show");
    }

    //验证数据
    function checkAccount(username, nickName, password) {
        if (username == '') {
            $("input[name='username']").focus();
            alert("用户名不能为空");
            return false;
        }
        if (nickName == '') {
            $("input[name='nick_name']").focus();
            alert("昵称不能为空");
            return false;
        }
        if (password == '') {
            $("input[name='password']").focus();
            alert("密码不能为空");
            return false;
        } else if (password.length < 4) {
            $("input[name='password']").focus();
            alert("密码个数不能少于4位");
            return false;
        }
        return true;
    }

    //加载模态框的数据
    function reloadModelData(url, title, btntext,id, projectId, userId, comtype, comtime,comuser, materialform, comway, receivingstaf, type) {
        $("#userModal #usermodelHead").text(title);
        $("#userModal #imgSubmit").text(btntext);
        $("input[name='url']").val(url);
        $("input[name='id']").val(id);
        $("input[name='projectId']").val(projectId);
        $("input[name='userId']").val(0);
        $("input[name='comtype']").val(comtype);
        $("input[name='comuser']").val(comuser);
        $("input[name='materialform']").val(materialform);
        $("input[name='comway']").val(comway);
        $("input[name='receivingstaf']").val(receivingstaf);
        if(type=='edit') {
            $("input[name='comtime']").val(new Date(comtime).format("yyyy-MM-dd"));
        }else{
            $("input[name='comtime']").val('');

        }
    }
    
</script>
</body>
</html>