<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src='../static/js/jquery-3.3.1.min.js'></script>
	<link rel="stylesheet" href="../static/css/dashboard.css">
	<link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
</head>
<style type="text/css">
	.table-header{
		position: relative;
		display: flex;

	}
	.panel-btn{
		position: absolute;
		right:0px;
		padding-right: 5px;
		padding-top: 10px;
	}
	.myTable-btn{
		height: 26px;
		width: 90px;
		padding: 0px;
		padding-top: 2px;
		cursor: pointer;
	}
	.table-btn-auto{
		visibility: hidden;
	}
	.table-box tbody tr:hover .table-btn-auto{
		visibility: visible; 
	}
	.table-hide{
		display: none;
	}
</style>
<body>
	<div myTable="enable" id="table-test"></div>
	<div class="table-box">
		<div class="table-header">
			<h3>No info</h3>
			<div class="panel-btn">
				<span id="add-item" class="btn btn-sm btn-success myTable-btn"><i class="fa fa-plus-square"></i> New Item</span>
			</div>
		</div>
		<table class="table table-striped" id="test">
			<thead>
				<tr>
					<th scope="col">#</th>
				 	<th>First</th>
					<th>Last</th>
					<th>Handle</th>
					<th width="100px"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td contenteditable="true">Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
					<td><span id="del-item" class="btn btn-sm btn-danger myTable-btn table-btn-auto"><i class="fa fa-trash-o"> Delete Item</i></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script type="text/javascript">
	var getDom = (id_tag) => $('#'+id_tag)
	var myTable = function(){
		this.ex_add = null;
		this.ex_del = null;
		this.current_anchor = '';
		this.anchorList = [];
		this.tableList = [];
		this.template = $("<table id='tmp-myTable'><thead><tr></tr></thead></table>");

		var add = function(){
			if (this.ex_add != null){
				this.ex_add()
			}
			console.log("add")
		}
		var del = function(){
			
		}

		$("#add-item").click(function(){add()})
		$("#del-item").click(function(){del()})
		this._add = add
	};

	myTable.prototype.setTable = function(tableRow){
		if (getDom(this.current_anchor).length == 0) return;
		if (!(this.current_anchor in this.anchorList)){
			this.anchorList.push(this.current_anchor)
			this.anchorList[this.current_anchor] = {
				'tableRow' : tableRow,
				'table_id' : ''
			}
		}else{
			this.anchorList[this.current_anchor]['tableRow'] = tableRow
		}
	}

	myTable.prototype.setAnchor = function(id_tag) {
		this.current_anchor = id_tag
	}

	myTable.prototype.draw = function(){
		var tag = '';
		var tableTag = '';
		this.anchorList.forEach(v=>{
			tableTag = v + '-myTable';
			getDom(v).children().remove() // clean the children dom
			this.template.appendTo('#'+v);
			getDom('tmp-myTable').attr('id', tableTag)
			this.anchorList[v]['table_id'] = tableTag
			// create fields on table
			this.anchorList[v]['tableRow'].forEach(item => {
				$("<th name="+item[1] +">"+item[0]+"</th>").appendTo("#"+tableTag + " thead tr")
			})
			// add class
			getDom(tableTag).addClass("table table-striped")
		})
	}

	myTable.prototype.pick = function(id_tag){
		return{
			'add' : function(tableData){
				var table_id = this.anchorList[id_tag]['table_id']

			}
		}
	}

	var table = new myTable()


	var tableRow = [
		["Name","name"],
		["Sex","sex"],
		["Address","addr"]
	]
	var tableData = [
		["Bob","Male","Mars"],
		["Alan","Female","Earth"]
	]

	table.setAnchor("table-test")
	table.setTable(tableRow)
	table.draw()
	table.pick().add(tableData)
	// $.get('/moneyinfo/query/2',function(data){
	// 	table.init(data)
	// })

</script>
<link rel="stylesheet" href="../static/css/bootstrap.css">
<script src='../static/js/bootstrap.js'></script>
<script src='../static/js/feather.js'></script>

</html>