<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxtele.projectmanage.dao.MoneyInfoItemMapper" >
  <resultMap id="BaseResultMap" type="com.jxtele.projectmanage.entity.MoneyInfoItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="money_infoid" property="moneyInfoid" jdbcType="INTEGER" />
    <result column="paytime_money" property="paytimeMoney" jdbcType="DECIMAL" />
    <result column="payback_date" property="paybackDate" jdbcType="TIMESTAMP" />
    <result column="payback_time" property="paybackTime" jdbcType="INTEGER" />
    <result column="payback_money" property="paybackMoney" jdbcType="DECIMAL" />
    <result column="payback_ratio" property="paybackRatio" jdbcType="DECIMAL" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, money_infoid, paytime_money, payback_date, payback_time, payback_money, payback_ratio, 
    project_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dx_jf_money_info_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dx_jf_money_info_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jxtele.projectmanage.entity.MoneyInfoItem" >
    insert into dx_jf_money_info_item (id, money_infoid, paytime_money, 
      payback_date, payback_time, payback_money, 
      payback_ratio, project_id)
    values (#{id,jdbcType=INTEGER}, #{moneyInfoid,jdbcType=INTEGER}, #{paytimeMoney,jdbcType=DECIMAL}, 
      #{paybackDate,jdbcType=TIMESTAMP}, #{paybackTime,jdbcType=INTEGER}, #{paybackMoney,jdbcType=DECIMAL}, 
      #{paybackRatio,jdbcType=DECIMAL}, #{projectId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jxtele.projectmanage.entity.MoneyInfoItem" >
    insert into dx_jf_money_info_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="moneyInfoid != null" >
        money_infoid,
      </if>
      <if test="paytimeMoney != null" >
        paytime_money,
      </if>
      <if test="paybackDate != null" >
        payback_date,
      </if>
      <if test="paybackTime != null" >
        payback_time,
      </if>
      <if test="paybackMoney != null" >
        payback_money,
      </if>
      <if test="paybackRatio != null" >
        payback_ratio,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="moneyInfoid != null" >
        #{moneyInfoid,jdbcType=INTEGER},
      </if>
      <if test="paytimeMoney != null" >
        #{paytimeMoney,jdbcType=DECIMAL},
      </if>
      <if test="paybackDate != null" >
        #{paybackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paybackTime != null" >
        #{paybackTime,jdbcType=INTEGER},
      </if>
      <if test="paybackMoney != null" >
        #{paybackMoney,jdbcType=DECIMAL},
      </if>
      <if test="paybackRatio != null" >
        #{paybackRatio,jdbcType=DECIMAL},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxtele.projectmanage.entity.MoneyInfoItem" >
    update dx_jf_money_info_item
    <set >
      <if test="moneyInfoid != null" >
        money_infoid = #{moneyInfoid,jdbcType=INTEGER},
      </if>
      <if test="paytimeMoney != null" >
        paytime_money = #{paytimeMoney,jdbcType=DECIMAL},
      </if>
      <if test="paybackDate != null" >
        payback_date = #{paybackDate,jdbcType=TIMESTAMP},
      </if>
      <if test="paybackTime != null" >
        payback_time = #{paybackTime,jdbcType=INTEGER},
      </if>
      <if test="paybackMoney != null" >
        payback_money = #{paybackMoney,jdbcType=DECIMAL},
      </if>
      <if test="paybackRatio != null" >
        payback_ratio = #{paybackRatio,jdbcType=DECIMAL},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxtele.projectmanage.entity.MoneyInfoItem" >
    update dx_jf_money_info_item
    set money_infoid = #{moneyInfoid,jdbcType=INTEGER},
      paytime_money = #{paytimeMoney,jdbcType=DECIMAL},
      payback_date = #{paybackDate,jdbcType=TIMESTAMP},
      payback_time = #{paybackTime,jdbcType=INTEGER},
      payback_money = #{paybackMoney,jdbcType=DECIMAL},
      payback_ratio = #{paybackRatio,jdbcType=DECIMAL},
      project_id = #{projectId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findMoneyInfoItemByMoneyInfoId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from dx_jf_money_info_item
    where money_infoid = #{moneyinfoid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByMoneyInfoId" parameterType="java.lang.Integer" >
    delete from dx_jf_money_info_item
    where money_infoid =  = #{moneyinfoid,jdbcType=INTEGER}
  </delete>

  <select id="findMoneyInfoItemByProjid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from dx_jf_money_info_item
    where project_id = #{projid,jdbcType=INTEGER}
  </select>

</mapper>