<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxtele.projectmanage.dao.RiskMapper">
  <resultMap id="BaseResultMap" type="com.jxtele.projectmanage.entity.Risk">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_stage" jdbcType="VARCHAR" property="projectStage" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="riskaversion" jdbcType="VARCHAR" property="riskaversion" />
    <result column="risktype" jdbcType="INTEGER" property="risktype" />
    <result column="dealtime" jdbcType="TIMESTAMP" property="dealtime" />
    <result column="uptime" jdbcType="TIMESTAMP" property="uptime" />
    <result column="responsible" jdbcType="VARCHAR" property="responsible" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, project_stage, content, riskaversion, risktype, dealtime, uptime, 
    responsible, user_id
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dx_jf_risk_management
    where id = #{id,jdbcType=INTEGER}
  </delete> <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from dx_jf_risk_management
  where id = #{id,jdbcType=INTEGER}
</select>
  <insert id="insert" parameterType="com.jxtele.projectmanage.entity.Risk">
    insert into dx_jf_risk_management (id, project_id, project_stage, 
      content, riskaversion, risktype, 
      dealtime, uptime, responsible, 
      user_id)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{projectStage,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{riskaversion,jdbcType=VARCHAR}, #{risktype,jdbcType=INTEGER}, 
      #{dealtime,jdbcType=TIMESTAMP}, #{uptime,jdbcType=TIMESTAMP}, #{responsible,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jxtele.projectmanage.entity.Risk">
    insert into dx_jf_risk_management
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="projectStage != null">
        project_stage,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="riskaversion != null">
        riskaversion,
      </if>
      <if test="risktype != null">
        risktype,
      </if>
      <if test="dealtime != null">
        dealtime,
      </if>
      <if test="uptime != null">
        uptime,
      </if>
      <if test="responsible != null">
        responsible,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectStage != null">
        #{projectStage,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="riskaversion != null">
        #{riskaversion,jdbcType=VARCHAR},
      </if>
      <if test="risktype != null">
        #{risktype,jdbcType=INTEGER},
      </if>
      <if test="dealtime != null">
        #{dealtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptime != null">
        #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="responsible != null">
        #{responsible,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxtele.projectmanage.entity.Risk">
    update dx_jf_risk_management
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectStage != null">
        project_stage = #{projectStage,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="riskaversion != null">
        riskaversion = #{riskaversion,jdbcType=VARCHAR},
      </if>
      <if test="risktype != null">
        risktype = #{risktype,jdbcType=INTEGER},
      </if>
      <if test="dealtime != null">
        dealtime = #{dealtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uptime != null">
        uptime = #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="responsible != null">
        responsible = #{responsible,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxtele.projectmanage.entity.Risk">
    update dx_jf_risk_management
    set project_id = #{projectId,jdbcType=INTEGER},
      project_stage = #{projectStage,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      riskaversion = #{riskaversion,jdbcType=VARCHAR},
      risktype = #{risktype,jdbcType=INTEGER},
      dealtime = #{dealtime,jdbcType=TIMESTAMP},
      uptime = #{uptime,jdbcType=TIMESTAMP},
      responsible = #{responsible,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findRiskByProjId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dx_jf_risk_management
    where project_id = #{projid,jdbcType=INTEGER}
  </select>


</mapper>