<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxtele.projectmanage.dao.StakeholderMapper" >
  <resultMap id="BaseResultMap" type="com.jxtele.projectmanage.entity.Stakeholder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="roomnumber" property="roomnumber" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="projectduty" property="projectduty" jdbcType="VARCHAR" />
    <result column="commethod" property="commethod" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="INTEGER" />
    <result column="decisionmaker" property="decisionmaker" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, name, unit, address, roomnumber, position, phone, email, projectduty, 
    commethod, frequency, decisionmaker
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dx_jf_stakeholder_contact
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dx_jf_stakeholder_contact
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jxtele.projectmanage.entity.Stakeholder" >
    insert into dx_jf_stakeholder_contact (id, project_id, name, 
      unit, address, roomnumber, 
      position, phone, email, 
      projectduty, commethod, frequency, 
      decisionmaker)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{roomnumber,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{projectduty,jdbcType=VARCHAR}, #{commethod,jdbcType=VARCHAR}, #{frequency,jdbcType=INTEGER}, 
      #{decisionmaker,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jxtele.projectmanage.entity.Stakeholder" >
    insert into dx_jf_stakeholder_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="roomnumber != null" >
        roomnumber,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="projectduty != null" >
        projectduty,
      </if>
      <if test="commethod != null" >
        commethod,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="decisionmaker != null" >
        decisionmaker,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="roomnumber != null" >
        #{roomnumber,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="projectduty != null" >
        #{projectduty,jdbcType=VARCHAR},
      </if>
      <if test="commethod != null" >
        #{commethod,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="decisionmaker != null" >
        #{decisionmaker,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxtele.projectmanage.entity.Stakeholder" >
    update dx_jf_stakeholder_contact
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="roomnumber != null" >
        roomnumber = #{roomnumber,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="projectduty != null" >
        projectduty = #{projectduty,jdbcType=VARCHAR},
      </if>
      <if test="commethod != null" >
        commethod = #{commethod,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="decisionmaker != null" >
        decisionmaker = #{decisionmaker,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxtele.projectmanage.entity.Stakeholder" >
    update dx_jf_stakeholder_contact
    set project_id = #{projectId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      roomnumber = #{roomnumber,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      projectduty = #{projectduty,jdbcType=VARCHAR},
      commethod = #{commethod,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=INTEGER},
      decisionmaker = #{decisionmaker,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findStakeholderByProjId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from dx_jf_stakeholder_contact
    where project_id = #{projid,jdbcType=INTEGER}
  </select>


</mapper>