<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxtele.projectmanage.dao.StandardDayMapper" >
  <resultMap id="BaseResultMap" type="com.jxtele.projectmanage.entity.StandardDay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="standardwork" property="standardwork" jdbcType="VARCHAR" />
    <result column="workcategory" property="workcategory" jdbcType="VARCHAR" />
    <result column="workingday" property="workingday" jdbcType="DECIMAL" />
    <result column="teamfrequency" property="teamfrequency" jdbcType="INTEGER" />
    <result column="noteamfrequency" property="noteamfrequency" jdbcType="INTEGER" />
    <result column="teamtime" property="teamtime" jdbcType="DECIMAL" />
    <result column="noteamtime" property="noteamtime" jdbcType="DECIMAL" />
    <result column="workdescription" property="workdescription" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="process" property="process" jdbcType="VARCHAR" />
    <result column="stardtype" property="stardtype" jdbcType="VARCHAR" />
    <collection property="standardApplies" ofType="com.jxtele.projectmanage.entity.StandardApply"
                column="id" select="com.jxtele.projectmanage.dao.StandardApplyMapper.findStandardDayId">
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, standardwork, workcategory, workingday, teamfrequency, noteamfrequency,
    teamtime, noteamtime, workdescription, address, starttime, endtime, remark,process,stardtype
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from dx_jf_standard_day
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findAllStandardDay" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dx_jf_standard_day
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dx_jf_standard_day
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jxtele.projectmanage.entity.StandardDay" >
    insert into dx_jf_standard_day (id, project_id, standardwork,
      workcategory, workingday, teamfrequency,
      noteamfrequency, teamtime, noteamtime,
      workdescription, address, starttime,
      endtime, remark,process,stardtype)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{standardwork,jdbcType=VARCHAR},
      #{workcategory,jdbcType=VARCHAR}, #{workingday,jdbcType=DECIMAL}, #{teamfrequency,jdbcType=INTEGER},
      #{noteamfrequency,jdbcType=INTEGER}, #{teamtime,jdbcType=DECIMAL}, #{noteamtime,jdbcType=DECIMAL},
      #{workdescription,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP},
      #{endtime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},#{process,jdbcType=VARCHAR},#{stardtype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxtele.projectmanage.entity.StandardDay" >
    insert into dx_jf_standard_day
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="standardwork != null" >
        standardwork,
      </if>
      <if test="workcategory != null" >
        workcategory,
      </if>
      <if test="workingday != null" >
        workingday,
      </if>
      <if test="teamfrequency != null" >
        teamfrequency,
      </if>
      <if test="noteamfrequency != null" >
        noteamfrequency,
      </if>
      <if test="teamtime != null" >
        teamtime,
      </if>
      <if test="noteamtime != null" >
        noteamtime,
      </if>
      <if test="workdescription != null" >
        workdescription,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="process != null" >
        process,
      </if>
      <if test="stardtype != null" >
        stardtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="standardwork != null" >
        #{standardwork,jdbcType=VARCHAR},
      </if>
      <if test="workcategory != null" >
        #{workcategory,jdbcType=VARCHAR},
      </if>
      <if test="workingday != null" >
        #{workingday,jdbcType=DECIMAL},
      </if>
      <if test="teamfrequency != null" >
        #{teamfrequency,jdbcType=INTEGER},
      </if>
      <if test="noteamfrequency != null" >
        #{noteamfrequency,jdbcType=INTEGER},
      </if>
      <if test="teamtime != null" >
        #{teamtime,jdbcType=DECIMAL},
      </if>
      <if test="noteamtime != null" >
        #{noteamtime,jdbcType=DECIMAL},
      </if>
      <if test="workdescription != null" >
        #{workdescription,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="process != null" >
        #{process,jdbcType=VARCHAR}
      </if>
      <if test="stardtype != null" >
        #{stardtype,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxtele.projectmanage.entity.StandardDay" >
    update dx_jf_standard_day
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="standardwork != null" >
        standardwork = #{standardwork,jdbcType=VARCHAR},
      </if>
      <if test="workcategory != null" >
        workcategory = #{workcategory,jdbcType=VARCHAR},
      </if>
      <if test="workingday != null" >
        workingday = #{workingday,jdbcType=DECIMAL},
      </if>
      <if test="teamfrequency != null" >
        teamfrequency = #{teamfrequency,jdbcType=INTEGER},
      </if>
      <if test="noteamfrequency != null" >
        noteamfrequency = #{noteamfrequency,jdbcType=INTEGER},
      </if>
      <if test="teamtime != null" >
        teamtime = #{teamtime,jdbcType=DECIMAL},
      </if>
      <if test="noteamtime != null" >
        noteamtime = #{noteamtime,jdbcType=DECIMAL},
      </if>
      <if test="workdescription != null" >
        workdescription = #{workdescription,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="process != null" >
        process = #{process,jdbcType=VARCHAR},
      </if>
      <if test="stardtype != null" >
        stardtype = #{stardtype,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxtele.projectmanage.entity.StandardDay" >
    update dx_jf_standard_day
    set project_id = #{projectId,jdbcType=INTEGER},
      standardwork = #{standardwork,jdbcType=VARCHAR},
      workcategory = #{workcategory,jdbcType=VARCHAR},
      workingday = #{workingday,jdbcType=DECIMAL},
      teamfrequency = #{teamfrequency,jdbcType=INTEGER},
      noteamfrequency = #{noteamfrequency,jdbcType=INTEGER},
      teamtime = #{teamtime,jdbcType=DECIMAL},
      noteamtime = #{noteamtime,jdbcType=DECIMAL},
      workdescription = #{workdescription,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      process = #{process,jdbcType=VARCHAR},
      stardtype = #{stardtype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findStandardDayByProjId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from dx_jf_standard_day
    where project_id = #{projid,jdbcType=INTEGER}
  </select>
  <select id="findStandardDayByProjIdAndType" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from dx_jf_standard_day
    where project_id = #{projid,jdbcType=INTEGER} and stardtype = #{stardtype,jdbcType=VARCHAR}
  </select>
  <select id="selectStandardDayByid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from dx_jf_standard_day
    where id = #{id,jdbcType=INTEGER}
  </select>

</mapper>