<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxtele.projectmanage.dao.WeekreportMapper" >
  <resultMap id="BaseResultMap" type="com.jxtele.projectmanage.entity.Weekreport" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="journal_time" property="journalTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="task_time" property="taskTime" jdbcType="DOUBLE" />
    <result column="decription" property="decription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, project_name, content, status, journal_time, user_id, task_time, 
    decription
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dx_jx_weekreport
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dx_jx_weekreport
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.jxtele.projectmanage.entity.Weekreport" >
    insert into dx_jx_weekreport (id, project_id, project_name, 
      content, status, journal_time, 
      user_id, task_time, decription
      )
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{journalTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{taskTime,jdbcType=DOUBLE}, #{decription,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.jxtele.projectmanage.entity.Weekreport" >
    insert into dx_jx_weekreport
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="journalTime != null" >
        journal_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="taskTime != null" >
        task_time,
      </if>
      <if test="decription != null" >
        decription,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="journalTime != null" >
        #{journalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="taskTime != null" >
        #{taskTime,jdbcType=DOUBLE},
      </if>
      <if test="decription != null" >
        #{decription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxtele.projectmanage.entity.Weekreport" >
    update dx_jx_weekreport
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="journalTime != null" >
        journal_time = #{journalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="taskTime != null" >
        task_time = #{taskTime,jdbcType=DOUBLE},
      </if>
      <if test="decription != null" >
        decription = #{decription,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxtele.projectmanage.entity.Weekreport" >
    update dx_jx_weekreport
    set project_id = #{projectId,jdbcType=INTEGER},
      project_name = #{projectName,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      journal_time = #{journalTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      task_time = #{taskTime,jdbcType=DOUBLE},
      decription = #{decription,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPojectKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dx_jx_weekreport
    where project_id = #{projectId,jdbcType=INTEGER}
  </select>
  <select id="selectmyWeekreport" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dx_jx_weekreport
    where project_id = #{projectId,jdbcType=INTEGER} and user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>