<!DOCTYPE html>
<html>
<head th:include="include/css-head :: css-head">
</head>
<style>
    textarea {
        width: 100%;
        height: 100px;
    }

    .file {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }

    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }

    .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }

    .chk_1 {
        display: none;
    }

    .chk_1 + label {
        background-color: #FFF;
        border: 1px solid #C1CACA;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 9px;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        margin-right: 30px;
    }

    .chk_1 + label:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .chk_1:checked + label {
        background-color: #ECF2F7;
        border: 1px solid #92A1AC;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        color: #243441;
    }

    .chk_1:checked + label:after {
        content: '\2714';
        position: absolute;
        top: 0px;
        left: 0px;
        color: #758794;
        width: 100%;
        text-align: center;
        font-size: 1.4em;
        padding: 1px 0 0 0;
        vertical-align: text-top;
    }

    div.cbp label.font {
        text-align: center;
        font-size: 1.4em;
        vertical-align: text-top;
        margin-top: -15px;
        margin-left: -10px;
    }

    th, td {
        white-space: nowrap;

    }

    .dataTables_scrollBody {
        overflow: scroll;
    }
    .table-body{
        padding-right: 108px;
        position: relative;
    }
    .manipulation_table{
        position: absolute;
        float: right;
        right: 0px;
        top: 0px;
        padding-top:10px
    }
    .manipulation_table > table > tbody > tr > td{
        padding-bottom: 5.5px;
    }
    .box-body{
        overflow-x: scroll;
    }
    .btn-xs{
        width: 22px;
    }
</style>
<body>


<!-- Content Header (Page header) -->
<section class="content-header">
    <!-- <h1>
           西游记告诉我们：凡是有后台的妖怪都被接走了，
       <small>凡是没后台的都被一棒子打死了</small>
     </h1>
     <ol class="breadcrumb">
       <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
       <li class="active">用户管理</li>
     </ol>-->
</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">项目采购明细列表</h3>
            <br><br>
            <button th:if="${session.ROLE==200}" class="btn btn-success btn-sm" id="addProcurementitem"><i
                    class="fa fa-plus"></i> &nbsp;&nbsp;添加
            </button>
        </div>
        <!-- /.box-header -->
       <!-- <div class="table-body">
            <div class="box-body">-->
                <table id="roleList" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>设备名称</th>
                        <th>设备型号</th>
                        <th>设备数量</th>
                        <th>质保期时间要求</th>
                        <th>设备供应商</th>
                        <th>供应商联络人</th>
                        <th>供应商联络电话</th>
                        <th>供应商联络邮箱</th>
                        <th>公司商务对接人</th>
                        <th>采购清单发起时间</th>
                        <th>采购合同签订时间</th>
                        <th>供应商发货条件</th>
                        <th>设备到货时间要求</th>
                        <th>付款条件</th>
                        <th>质保期</th>
                        <th>设备最终到货时间</th>
                        <th>到货进度评定</th>
                        <th>合同签订是否合理</th>
                        <th>不合理说明</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${QX.query == '1'}" th:each="procurementitem,stat :${procurementitems}">
                        <td th:text="${stat.count}">1</td>
                        <td th:text="${procurementitem.devicename}"></td>
                        <td th:text="${procurementitem.devicetype}"></td>
                        <td th:text="${procurementitem.devicequantity}"></td>
                        <td th:text="${procurementitem?.warrantytime}==null?'':${#dates.format(procurementitem.warrantytime,'yyyy-MM-dd')}"></td>
                        <td th:text="${procurementitem.supplier}"></td>
                        <td th:text="${procurementitem.suppliercontact}"></td>
                        <td th:text="${procurementitem.supplierphone}"></td>
                        <td th:text="${procurementitem.supplieremail}"></td>
                        <td th:text="${procurementitem.companydock}"></td>
                        <td th:text="${procurementitem?.starttime}==null?'':${#dates.format(procurementitem.starttime,'yyyy-MM-dd')}"></td>
                        <td th:text="${procurementitem?.contractime}==null?'':${#dates.format(procurementitem.contractime,'yyyy-MM-dd')}"></td>
                        <td th:text="${procurementitem.suppliercondition}"></td>
                        <td th:text="${procurementitem?.arrivaltime}==null?'':${#dates.format(procurementitem.arrivaltime,'yyyy-MM-dd')}"></td>
                        <td th:text="${procurementitem.paymentterms}"></td>
                        <td th:text="${procurementitem.warranty}"></td>
                        <td th:text="${procurementitem?.endtime}==null?'':${#dates.format(procurementitem.endtime,'yyyy-MM-dd')}"></td>
                        <td th:text="${procurementitem.assessment}"></td>
                        <td th:text="${procurementitem.contractsigned}"></td>
                        <td th:text="${procurementitem.remark}"></td>
                        <td >
                            <span data-toggle="tooltip" title="编辑" th:if="${session.ROLE==200}" class="btn btn-primary btn-sm"
                                  th:onclick="'editProcurementitem(\''+${procurementitem.id}+'\'
                                  ,\''+${procurementitem.projectId}+'\'
                                  ,\''+${procurementitem.procurementId}+'\'
                                  ,\''+${procurementitem.devicename}+'\'
                                  ,\''+${procurementitem.devicetype}+'\'
                                  ,\''+${procurementitem.devicequantity}+'\'
                                  ,\''+${procurementitem.warrantytime}+'\'
                                  ,\''+${procurementitem.supplier}+'\'
                                  ,\''+${procurementitem.suppliercontact}+'\'
                                  ,\''+${procurementitem.supplierphone}+'\'
                                  ,\''+${procurementitem.supplieremail}+'\'
                                  ,\''+${procurementitem.companydock}+'\'
                                  ,\''+${procurementitem.starttime}+'\'
                                  ,\''+${procurementitem.contractime}+'\'
                                  ,\''+${procurementitem.suppliercondition}+'\'
                                  ,\''+${procurementitem.arrivaltime}+'\'
                                  ,\''+${procurementitem.paymentterms}+'\'
                                  ,\''+${procurementitem.warranty}+'\'
                                  ,\''+${procurementitem.endtime}+'\'
                                  ,\''+${procurementitem.assessment}+'\'
                                  ,\''+${procurementitem.contractsigned}+'\'
                                  ,\''+${procurementitem.remark}+'\');'">


                                <i class="fa fa-edit"></i>编辑
                            </span>
                            <span data-toggle="tooltip" title="删除" th:if="${session.ROLE==200}"
                                  class="btn btn-danger btn-sm"
                                  th:onclick="'delProcurementitem(\''+${procurementitem.id}+'\');'"><i
                                    class="fa fa-trash-o"></i>删除</span>
                            <span data-toggle="tooltip" title="权限不够"
                                  th:unless="${QX.edit == '1' || QX.add == '1' || QX.del == '1'}"><i
                                    class="fa fa-lock"></i> </span>
                        </td>
                    </tr>
                    <tr th:unless="${QX.query == '1'}">
                        <td colspan="7" align="center">
                            <h2>此用户无权限查看该页面</h2>
                        </td>
                    </tr>
                    </tbody>
                </table>
          <!--  </div>-->
    </div>
</section>

<!-- 新增或修改的模态框 -->
<div class="modal fade bs-example-modal-lg" id="userModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <h4 class="modal-title text-center" id="usermodelHead">添加采购明细</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <table id="procurementitem" class="table table table-hover table-striped">
                        <input type="hidden" name="id" value=""/>
                        <input type="hidden" name="procurementId" value=""/>
                        <input type="hidden" name="projectId" value=""/>
                        <input type="hidden" name="url" value=""/>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="devicename" class="col-sm-2 control-label">设备名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="devicename" value=""
                                               id="devicename" placeholder="设备名称">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="devicetype" class="col-sm-2 control-label">设备型号</label>
                                    <div class="col-sm-10">
                                        <input type="text"  class="form-control" name="devicetype" value=""
                                               id="devicetype" placeholder="设备型号" >
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="devicequantity"  class="col-sm-2 control-label">设备数量</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="devicequantity" value=""
                                               id="devicequantity" placeholder="设备数量">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="warrantytime" class="col-sm-2 control-label">质保期时间要求</label>
                                    <div class="col-sm-10">
                                        <input type="text" onfocus="selectTime(this);"  class="form-control" name="warrantytime" value=""
                                               id="warrantytime" placeholder="质保期时间要求">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="supplier"  class="col-sm-2 control-label">设备供应商</label>
                                    <div class="col-sm-10">
                                        <input type="text"   class="form-control" name="supplier" value=""
                                               id="supplier" placeholder="设备供应商">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="suppliercontact"  class="col-sm-2 control-label">供应商联络人</label>
                                    <div class="col-sm-10">
                                        <input type="text"  class="form-control" name="suppliercontact" value=""
                                               id="suppliercontact" placeholder="供应商联络人">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <div class="form-group">
                                    <label for="supplierphone" class="col-sm-2 control-label">供应商联络电话</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="supplierphone" value=""
                                               id="supplierphone" placeholder="供应商联络电话">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="supplieremail" class="col-sm-2 control-label">供应商联络邮箱</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="supplieremail" value=""
                                               id="supplieremail" placeholder="供应商联络邮箱">
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="companydock" class="col-sm-2 control-label">公司商务对接人</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="companydock" value=""
                                               id="companydock" placeholder="公司商务对接人">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="starttime" class="col-sm-2 control-label">清单发起时间</label>
                                    <div class="col-sm-10">
                                        <input type="text" onfocus="selectTime(this);"  class="form-control" name="starttime" value=""
                                               id="starttime" placeholder="清单发起时间">
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="contractime" class="col-sm-2 control-label">合同签订时间</label>
                                    <div class="col-sm-10">
                                        <input type="text" onfocus="selectTime(this);"  class="form-control" name="contractime" value=""
                                               id="contractime" placeholder="合同签订时间">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="suppliercondition" class="col-sm-2 control-label">供应商发货条件</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="suppliercondition" value=""
                                               id="suppliercondition" placeholder="供应商发货条件">
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="arrivaltime" class="col-sm-2 control-label">设备到货时间要求</label>
                                    <div class="col-sm-10">
                                        <input type="text" onfocus="selectTime(this);"  class="form-control" name="arrivaltime" value=""
                                               id="arrivaltime" placeholder="设备到货时间要求">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="paymentterms" class="col-sm-2 control-label">付款条件</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="paymentterms" value=""
                                               id="paymentterms" placeholder="付款条件">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="warranty" class="col-sm-2 control-label">质保期</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="warranty" value=""
                                               id="warranty" placeholder="质保期">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="endtime" class="col-sm-2 control-label">设备最终到货时间</label>
                                    <div class="col-sm-10">
                                        <input type="text" onfocus="selectTime(this);"  class="form-control" name="endtime" value=""
                                               id="endtime" placeholder="设备最终到货时间">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="assessment" class="col-sm-2 control-label">到货进度评定</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="assessment" value=""
                                               id="assessment" placeholder="到货进度评定">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="contractsigned" class="col-sm-2 control-label">合同签订是否合理</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="contractsigned" value=""
                                               id="contractsigned" placeholder="合同签订是否合理">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="remark" class="col-sm-2 control-label">不合理说明</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="remark" value=""
                                               id="remark" placeholder="不合理说明">
                                    </div>
                                </div>
                            </td>
                            <!--<td>
                                <div class="form-group">
                                    <label for="paymentterms" class="col-sm-2 control-label">付款条件</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="paymentterms" value=""
                                               id="paymentterms" placeholder="付款条件">
                                    </div>
                                </div>
                            </td>-->
                        </tr>

                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-success" id="imgSubmit">确定</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script th:src="@{/ztree/js/jquery.ztree.excheck.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/js/path.js}"></script>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/daterangepicker.css}">

<!--<script th:src="@{/js/jquery-2.2.3.min.js}"></script>-->
<script th:src="@{/js/moment.js}"></script>
<script th:src="@{/js/daterangepicker.js}"></script>

<script th:inline="javascript">
    $(function () {
            //提示框
            $("[data-toggle='tooltip']").tooltip();
            //表格分页
            $('#roleList').DataTable({
                "scrollX": true,
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                "pagingType": "full_numbers",
                "pageLength": 10,
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "对不起，查询不到任何相关数据",
                    "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_条记录",
                    "sInfoEmtpy": "找不到相关数据",
                    "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
                    "sProcessing": "正在加载中...",
                    "sSearch": "搜索",
                    "oPaginate": {
                        "sFirst": "第一页",
                        "sPrevious": " 上一页 ",
                        "sNext": " 下一页 ",
                        "sLast": " 最后一页 "
                    },
                }
            });
        }
    );

    $("#addProcurementitem").click(function () {
        reloadModelData(_ctx + "/procurementitem/add", "添加项目实际进度", "添加","", "", "", "", "","", "", "", "", "", "","","","","","","","","","","","", "add");
        $("#userModal").modal("show");
    });

    //确认按钮
    $("#imgSubmit").click(function () {
        var url = $("input[name='url']").val();
        var id = $("input[name='id']").val();
        var projectId = sessionStorage.getItem("procurementprojectid");
       // var projectId = $("input[name='projectId']").val();
        var procurementId = $("input[name='procurementId']").val();
        var devicename = $("input[name='devicename']").val();
        var devicequantity = $("input[name='devicequantity']").val();
        var devicetype = $("input[name='devicetype']").val();
        var warrantytime = $("input[name='warrantytime']").val();
        var supplier = $("input[name='supplier']").val();
        var suppliercontact = $("input[name='suppliercontact']").val();
        var supplierphone = $("input[name='supplierphone']").val();
        var supplieremail = $("input[name='supplieremail']").val();
        var companydock = $("input[name='companydock']").val();
        var starttime = $("input[name='starttime']").val();
        var contractime = $("input[name='contractime']").val();
        var suppliercondition = $("input[name='suppliercondition']").val();
        var arrivaltime = $("input[name='arrivaltime']").val();
        var paymentterms = $("input[name='paymentterms']").val();
        var warranty = $("input[name='warranty']").val();
        var endtime = $("input[name='endtime']").val();
        var assessment = $("input[name='assessment']").val();
        var contractsigned = $("input[name='contractsigned']").val();
        var remark = $("input[name='remark']").val();

        /* if (url == _ctx + '/user/add') {
             if (!checkAccount(username, nickName, password)) {
                 return false;
             }
         }*/

        $.ajax({
            type: "post",
            url: url,
            cache: false,
            dataType: "json",
            data: {
                id: id,
                projectId: projectId,
                procurementId: procurementId,
                devicename: devicename,
                devicetype: devicetype,
                devicequantity: devicequantity,
                warrantytime: warrantytime,
                supplier: supplier,
                suppliercontact: suppliercontact,
                supplierphone: supplierphone,
                supplieremail: supplieremail,
                companydock: companydock,
                starttime: starttime,
                contractime: contractime,
                suppliercondition: suppliercondition,
                arrivaltime: arrivaltime,
                paymentterms: paymentterms,
                warranty: warranty,
                endtime: endtime,
                assessment: assessment,
                contractsigned: contractsigned,
                remark: remark,
                time: new Date().getTime()
            },
            success: function (data) {
                if (data.status == 'success') {
                    $("#userModal").modal("hide");
                    window.location.href = window.location.href;
                } else {
                    alert(data.msg);
                }
            }
        });
    });

    //删除项目
    function delProcurementitem(id) {
        if (confirm("你确定要删除此项目吗？")) {
            $.ajax({
                type: "GET",
                url: _ctx + "/procurementitem/del/" + id,
                dataType: "json",
                data: {time: new Date().getTime()},
                cache: false,
                success: function (data) {
                    if (data.status == 'success') {
                        window.location.href = window.location.href;
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }
    }

    //编辑项目,
    function editProcurementitem(id, projectId, procurementId, devicename, devicetype,devicequantity, warrantytime, supplier, suppliercontact, supplierphone, supplieremail,companydock,starttime,contractime,suppliercondition,arrivaltime,paymentterms,warranty,endtime,assessment,contractsigned,remark) {
        reloadModelData(_ctx + "/procurementitem/edit", "编辑项目实际进度", "更新", id, projectId, procurementId, devicename, devicetype,devicequantity, warrantytime, supplier, suppliercontact, supplierphone, supplieremail,companydock,starttime,contractime,suppliercondition,arrivaltime,paymentterms,warranty,endtime,assessment,contractsigned,remark, "edit");
        $("#userModal").modal("show");
    }

    //验证数据
    function checkAccount(username, nickName, password) {
        if (username == '') {
            $("input[name='username']").focus();
            alert("用户名不能为空");
            return false;
        }
        if (nickName == '') {
            $("input[name='nick_name']").focus();
            alert("昵称不能为空");
            return false;
        }
        if (password == '') {
            $("input[name='password']").focus();
            alert("密码不能为空");
            return false;
        } else if (password.length < 4) {
            $("input[name='password']").focus();
            alert("密码个数不能少于4位");
            return false;
        }
        return true;
    }

    //加载模态框的数据
    function reloadModelData(url, title, btntext,id, projectId, procurementId, devicename, devicetype,devicequantity, warrantytime, supplier, suppliercontact, supplierphone, supplieremail,companydock,starttime,contractime,suppliercondition,arrivaltime,paymentterms,warranty,endtime,assessment,contractsigned,remark, type) {
        $("#userModal #usermodelHead").text(title);
        $("#userModal #imgSubmit").text(btntext);
        $("input[name='url']").val(url);
        $("input[name='id']").val(id);
        $("input[name='projectId']").val(projectId);
        $("input[name='procurementId']").val(procurementId);
        $("input[name='devicename']").val(devicename);
        $("input[name='devicetype']").val(devicetype);
        $("input[name='devicequantity']").val(devicequantity);
        if(type=='edit') {
            $("input[name='warrantytime']").val(new Date(warrantytime).format("yyyy-MM-dd"));
            $("input[name='starttime']").val(new Date(starttime).format("yyyy-MM-dd"));
            $("input[name='contractime']").val(new Date(contractime).format("yyyy-MM-dd"));
            $("input[name='arrivaltime']").val(new Date(arrivaltime).format("yyyy-MM-dd"));
            $("input[name='endtime']").val(new Date(endtime).format("yyyy-MM-dd"));
            $("input[name='assessment']").val(assessment);
            $("input[name='contractsigned']").val(contractsigned);
        }else{
            $("input[name='warrantytime']").val('');
            $("input[name='starttime']").val('');
            $("input[name='contractime']").val('');
            $("input[name='arrivaltime']").val('');
            $("input[name='endtime']").val('');
            $("input[name='assessment']").val(0);
            $("input[name='contractsigned']").val(0);
        }
        $("input[name='supplier']").val(supplier);
        $("input[name='suppliercontact']").val(suppliercontact);
        $("input[name='supplierphone']").val(supplierphone);
        $("input[name='supplieremail']").val(supplieremail);
        $("input[name='companydock']").val(companydock);
        $("input[name='suppliercondition']").val(suppliercondition);
        $("input[name='paymentterms']").val(paymentterms);
        $("input[name='warranty']").val(warranty);
        $("input[name='remark']").val(remark);
    }
    
</script>
</body>
</html>